<footer class="bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mt-2">
          <a routerLink="/">About Us </a> |
          <a routerLink="/">Contact Us </a> |
          <a routerLink="/">Terms of Use </a> |
          <a routerLink="/">Privacy Policy </a>
         <div class="text-white mt-1">
           <h6>Copyright &copy; 2021</h6>
         </div>
        </div>
        <div class="col-md-4">
          <a class="text-primary" href="https://en-gb.facebook.com/login" target="_blank">
            <i class="fab fa-facebook fa-2x  m-3 text-light-blue"></i>
          </a>
          <a href="https://www.google.com" target="_blank">
            <i class="fab fa-google fa-2x  m-3 text-warning"></i>
          </a>
          <a href="https://github.com/login" target="_blank">
            <i class="fab fa-github fa-2x  m-3 text-secondary"></i>
          </a>
        </div>
      </div>
    </div>
  </footer>
